#calculator{
  border: 1px solid rgb(26, 25, 25);
  border-radius: 5px;
  width: 350px;
  position: relative;left: 550px;
  background-color: gray
}

#display{
  margin: 10px;
  width: 85%;
  position: relative;left: 14px;
  font-size: 50px;
}
.buttonlist{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button{
  font-size: 20px;
  width: 65px;
  height: 65px;
  border-radius: 10px;
  margin: 20px;
}